In [1]:
import pandas as pd
import warnings

warnings.simplefilter("ignore")

In [2]:
df = pd.read_csv("data/text.csv")

In [6]:
for row_index, row in enumerate(df.index):
    for col_index, column in enumerate(df.columns):
        value = df.loc[row, column]
        print(value)

2024.01.01
영업
운영
미납
돈내놔
2024.01.01
교통
운영
미납
돈내놔
nan
nan
nan
nan
nan

In [1]:
import polars as pl

In [2]:
df = pl.read_csv("data/text.csv")

In [4]:
df.columns

['일자', '대분류', '중분류', '소분류', '내용']

In [29]:
 for row_index, row in enumerate(df.iter_rows):
    for col in row:
        value = col
        print(value)

2024.01.01
영업
운영
미납
돈내놔
2024.01.01
교통
운영
미납
돈내놔

In [18]:
df.shape

(3, 5)

In [21]:
for row_index, row in enumerate(df):
    for col_index, column in enumerate(row):
        print(column)
        # item = QTableWidgetItem(str(value))
        # widget.setItem(row_index, col_index, item)

2024.01.01
2024.01.01
None
영업
교통
None
운영
운영
None
미납
미납
None
돈내놔
돈내놔
None

## read df 콤포넌츠

- 다양한 유형의 민원 파일을 읽어야됨

In [36]:
import src.components.read_df as src

# df = src.read_df('data/text.csv')
# df = src.read_df('data/data/1.5월분석자료 세부.xlsx')
# df = src.read_df('data/data/5월 15일까지.xlsx')
df = src.read_df("data/data/5월 15일까지.xlsx")

df

,상담(대),상담(중),상담(소),메모
0,교통,제보,견인,중부내륙선 양평방향 상주 조금 지나 타이어펑크 차량 정차 중 후방안전조치요청 / 위...
1,교통,소통,고속도로 소통상황,영동선 강릉방향 제설 문제되는지 문의 /눈길 없음 안내
2,교통,제보,기타,도심 잡물제보 / 미동의/ 지자체안내
3,영업,미납,부가통행료,부가통행료 58주69** / 카드잔액무 / 2024.04.27 / 평택(영) \22...
4,NaN,NaN,NaN,NaN
...,...,...,...,...
60668,영업,미납,당일미납(위반),당일미납 20저96 광주이용 / 영업소 문의안내
60669,영업,기타 편의시설,영업소,하기건 /다시한번 송악영업소 안내
60670,영업,기타 편의시설,기타,천안논산선/논산방향/정안알밤 휴게소/우동코너 식당/검은색 작은 가방 놓고 왔다함
60671,영업,미납,민자미납,♣민자 64수21 /설문/양주 영업소 미결재 전화번호 문자발송
60672,영업,미납,고객과실위반,180우55 /0302-0426 군자외11건 카드정지 33900 /카톡

In [59]:
import subprocess

r = subprocess.call("help")

print(r.stdout)
print(r.stderr)

AttributeError: 'int' object has no attribute 'stdout'

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df = pl.DataFrame(df)

In [25]:
df["일자"]
df = df.with_columns(pl.col("일자").str.to_date("%Y.%m.%d"))

In [24]:
df

shape: (2, 5)
┌────────────┬────────┬────────┬────────┬────────┐
│ 일자       ┆ 대분류 ┆ 중분류 ┆ 소분류 ┆ 내용   │
│ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---    │
│ str        ┆ str    ┆ str    ┆ str    ┆ str    │
╞════════════╪════════╪════════╪════════╪════════╡
│ 2024.01.01 ┆ 영업   ┆ 운영   ┆ 미납   ┆ 돈내놔 │
│ 2024.01.01 ┆ 교통   ┆ 운영   ┆ 미납   ┆ 돈내놔 │
└────────────┴────────┴────────┴────────┴────────┘

In [26]:
cols = dict(date="", text="", category=[])

In [29]:
cols["date"] = "asd"
cols["date"]

'asd'